<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-input placeholder="Username or Email" [(ngModel)]="Username"></ion-input>
    <ion-input placeholder="Password" type="Password" [(ngModel)]="Password"></ion-input>
    <ion-input placeholder="Confirm Password" type="Password" [(ngModel)]="ConfirmPassword"></ion-input>
    <ion-button (click)="signUp()">Sign Up</ion-button>
    <firebase-ui></firebase-ui>
  </ion-content>