<ion-header>
  <ion-toolbar>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-input placeholder="Username or Email" ></ion-input>
    <ion-input placeholder="Password"></ion-input>
    <ion-input placeholder="Confirm Password"></ion-input>
    <ion-button (click)="signUp()">Sign Up</ion-button>
    <firebase-ui></firebase-ui>
  
    <h1 *ngIf ="afAuth.auth.currentUser">Welcome {{afAuth.auth.currentUser.displayName}}</h1>
    <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>
  </ion-content>